body { margin: 0; padding: 0; width: 400px; color: #4a4a4a; }
h1 {
    margin: 0;
    padding: 18px 10px 18px 55px;
    background: #f4f3f0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    font-size: 18px;
    font-weight: normal;
    background: url(./icon.png) 10px/40px no-repeat
}

#summary {
    padding: 18px 10px;
    font-size: 16px;
}

#no-pixels {
    padding: 10px;
}

.pixel {
    border-top: 1px solid #CCC;
    border-left: 4px solid #307A24;
    padding: 10px;
    cursor: pointer;
    line-height: 1.4;
}

.pixel:hover {
    background: #f6f6f6;
}

.pixel.problem {
    border-left-color: #FFC200;
}

.pixel.error {
    border-left-color: #ff0033;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

summary {
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    color: #999;
}

.pixel-details {
    padding: 10px;
    border: 1px solid #ddd;
}

.pixel-details li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.key {
    font-weight: bold;
    margin-right: 10px;
    width: 50%;
    display: inline-block;
    border-right: 1px solid #ddd;
    overflow: hidden;
    vertical-align: bottom;
    text-overflow: ellipsis;
}

.conversion-status {
    color: #999;
    position: relative;
    top: 5px;
}